################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.local
*.user
*.lock.json

[Bb]in/
[Oo]bj/
[Ll]og/

.vs

/packages
PAWeb/node_modules/
PAWeb/PAWeb.csproj.user
PAWeb/Properties/launchSettings.json
PA.Web/Connections.config.local.templatepackages
/PA.IdentityServer/Connections.config.local.template
/PA.IdentityServer/Connections.config.local.template
/PA.WebAPI/Connections.config.local.template
/PA.Web/Connections.config.local.template
/DatabaseMigration/packages
/.idea
/DatabaseMigration/.vs/DatabaseMigration/v15/sqlite3
/DatabaseMigration/.vs/DatabaseMigration/v15/Server/sqlite3/storage.ide-wal
/DatabaseMigration/.vs/DatabaseMigration/v15/Server/sqlite3/storage.ide-shm
/DatabaseMigration/.vs/DatabaseMigration/v15/Server/sqlite3/storage.ide
/DatabaseMigration/.vs/DatabaseMigration/v15/Server/sqlite3/db.lock
/DatabaseMigration/.vs/config/applicationhost.config
*.msi
*.pubxml